
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 8px 16px;
}

.navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
}

.navbar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.navbar .navbar_item {
    padding: 4px 8px;
    border-radius: 12px;
    border: 1px solid black;
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: .5s ease all;
}

.navbar .navbar_item:hover {
    color: blue;
    background-color: white;
}

.navbar .navbar_item.active {
    color: blue;
    background-color: white;
}

.navbar .cart {
    padding: 4px 8px;
    background-color: whitesmoke;
    color: black;
    border-radius: 12px;
    border: 1px solid white;

}

img {
    max-width: 100%;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.menu_container .card {
    width: 30%;
    margin: 16px 0;
}

.menu_container .card img{
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.card__body{ 
    padding: 8px 12px;
    width: 100%;
}

.card__footer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu_container .card span{
    border-radius: 12px;
    color: black;
    border: 1px solid black;
    padding: 4px 8px;
}

.menu_container .card span:nth-child(1){
    background-color: blue;
    color: white;
}

.menu_container .card span:nth-child(2){
    background-color: green;
    color: white;
}

.menu_container .card span:nth-child(3){
    background-color: red;
    color: white;
}


